/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  background-color: black;
  height: 100%;
}
.container {
  font-size: 30px;
  color: white;
  font-family: 'Tulpen One';
  background-image: url(../images/lbg.jpg);
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
}
@media (max-width: 500px) {
  .container {
    flex-direction: column;
    background-image: none;
    Background-color: black;
    font-size: 20px;
  }
}
.content {
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (max-width: 500px) {
  .content {
    order: 1;
  }
}
.content .top {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  height: 50%;
}
@media (max-width: 500px) {
  .content .top {
    flex-direction: column;
  }
}
.content .about {
  width: 25%;
  height: 35%;
}
@media (max-width: 500px) {
  .content .about {
    width: 80%;
    height: auto;
  }
}
.bot {
  display: flex;
  justify-content: space-between;
  height: 50%;
}
@media (max-width: 500px) {
  .bot {
    height: auto;
    justify-content: space-evenly;
  }
  .bot h2 {
    font-size: 13px;
  }
}
.bot section {
  margin: 10px;
  width: 30%;
}
.sidebar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #d3af39;
  width: 20%;
  border-right: 1px solid white;
}
@media (max-width: 500px) {
  .sidebar {
    flex-direction: row;
    flex-wrap: none;
    width: 100%;
    max-width: 100%;
    max-height: 200px;
    border-right: none;
    border-bottom: 1px solid white;
    margin-right: 0;
  }
}
.sidebar .contact {
  padding: 5px;
  margin: 10px;
  text-align: left;
  display: block;
}
.sidebar nav {
  align-self: center;
  color: purple;
  text-align: center;
  border-top: 5px solid;
  border-bottom: 5px solid;
  padding: 10%;
}
@media (max-width: 500px) {
  .sidebar nav {
    padding: 1%;
  }
}
.sidebar .portrait {
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
}
.sidebar .portrait img {
  border: 1px solid white;
  width: 80%;
  height: auto;
}
@media (max-width: 500px) {
  .sidebar .portrait img {
    width: auto;
    height: 80%;
    margin: 10px 10px 0 0;
  }
}
h1 {
  font-family: 'Vast Shadow';
  font-size: 40px;
  text-align: right;
  margin: 30px;
}
@media (max-width: 500px) {
  h1 {
    margin: 4px;
  }
}
h2 {
  font-family: 'Michroma';
  font-size: 30px;
  text-decoration: underline;
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
section:not(.sidebar) {
  border: 1px solid white;
  padding: 10px;
}
