// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	background-color:black;
    height: 100%;
}

//My code starts here
.space(){
	display:flex;
	justify-content: space-between;
}
@text:white;
@name:'Vast Shadow';
@headers:'Michroma';
@main:'Tulpen One';
.container{
	@media (max-width:500px){
		flex-direction: column;
		background-image:none;
		Background-color:black;
		font-size:20px;
	}
		font-size: 30px;
		color:@text;
		font-family:@main;
		background-image: url(../images/lbg.jpg);
		height:100vh;
		display:flex;
		flex-direction: row-reverse;}
	.content{
		@media (max-width:500px){
		order:1;
		}
		width: 80%;
		.space();
		flex-direction: column;
		.top{
			@media (max-width:500px){
			flex-direction: column;
			}
			
			.space();
			flex-direction: row-reverse;
			height:50%;
		}
			.about{
				@media (max-width:500px){
					width:80%;
					height:auto;
				}
				width:25%;
				height: 35%;
			}
		}
		.bot{
			@media (max-width:500px){
				height:auto;
				justify-content: space-evenly;
				h2{
					font-size: 13px;
				}
			}
			.space();
			height:50%;
			section{
				margin: 10px;
				width:30%;
			}
		}
	.sidebar{
		@media (max-width:500px){
		flex-direction: row;
		flex-wrap: none;
		width:100%;
		max-width:100%;
		max-height:200px;
		border-right:none;
		border-bottom:1px solid white;
		margin-right:0;
		}
			.space();
			 flex-direction: column;
			background-color: #d3af39;
			width:20%;
			border-right: 1px solid white;
			.contact{
				padding:5px;
				margin:10px;
				text-align:left;
				display:block;
			}
			nav{
				@media (max-width:500px){
					padding:1%;
				}
				align-self: center;
				color:purple;
				text-align:center;
				border-top: 5px solid;
				border-bottom: 5px solid;
				padding:10%;
			}
			.portrait{
				margin-bottom:10%;
				display:flex;
				justify-content:center;
			}
			.portrait img{
				@media (max-width:500px){
					width:auto;
					height:80%;
					margin:10px 10px 0 0;
				}
				border:1px solid white;
				width:80%;
				height:auto;
			}
	}
h1{
	@media (max-width:500px){
		margin:4px;
	}
	font-family: @name;
	font-size:40px;
	text-align:right;
	margin:30px;
}
h2{
	@media (max-width:500px){
		font-size:20px;
		margin-bottom:10px;
	}
	font-family: @headers;
	font-size:30px;
	text-decoration: underline;
	margin-bottom:20px;
}

section:not(.sidebar){
	border:1px solid white;
	padding:10px;
}
